root = true

[*]
charset = utf-8
indent_size = 4
indent_syle = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

[*.{*proj,props,targets}]
indent_size = 2

[*.json]
indent_size = 2
